<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/admin.css" />
<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>

<title>横扫三国后台管理</title>
</head>
<body>
 <div id="header">
  <div id="logo"><a>横扫三国</a></div>
  <ul id="topmenu">
   {{$CurApp:= .curapp}}
  	<li {{if eq $CurApp "index"}}class="current"{{end}}><a href="/" >主页</a></li>
   
    {{range .apps}}
      <li {{if eq .Pkgname $CurApp}}class="current"{{end}} ><a  href="/{{.Pkgname}}/index">{{.Appname}}</a></li>
    {{end}}
    
    <li style="margin-left:150px"><a href="#">当前服务器 {{.CurServer}}</a></li>
  </ul>
  <div id="othermsg">{{if .user}}{{.user.UserTypeStr}}:{{.user.UserName}} &nbsp;&nbsp;<a href="/adminUser/LoginOut">[注销]</a>{{end}}</div>
 </div>

 <div id="main">
  {{if .ShowLeftMenu}}
  <div id="leftmenu">
   <ul>
     {{template "LeftMenu" .}}
   </ul>
  </div>
  {{end}}

  <div id="rightnr" class="content-radius">
    {{template "Main" .}}
  </div>


 </div>

 <script type="text/javascript">
  setlayout = function()
  {
    leftwidth =  $("#leftmenu").width()
  	$("#rightnr").css({"width":$(document).width()-leftwidth-70,"height":$(document).height()-100});
  }
  $(document).ready(setlayout);
  $(window).resize(setlayout);
 </script>
</body>
</html>