<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>

</head>
<body><center>

  <form action="/adminUser/login" method="post" >
  <table class="table table-striped table-bordered table-condensed" align="center" style="width:400px;margin-top:300px">
   <th colspan="2" style="text-align:center">
    <h2 class="info">  会员登录</h2>
  </th>
  <tr><td height="44" style="text-align:center"><br/>账号</td><td  style="text-align:center"><br/><input type="text"  style="width:250px;" class="input" name="userName" /></td></tr>
  <tr><td height="44" style="text-align:center"><br/>密码</td><td style="text-align:center"><br/><input type="password"  style="width:250px;" class="input" name="pwd"/></td></tr>
  <tr><td colspan="2" style="text-align:center"><input type="submit" class="btn btn-primary" style="width:150px;height:35px;margin:10px"  value="登陆"/></td></tr>

  </table>
  </form>
</center></body>
</html>
